.App {
  text-align: center;
  background-color: white;
}

.App-content {
  .MuiPaper-root {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

img {
  width: 100%;
  height: auto;
}
